@page
@model RockExplorer_Reforged.Pages.FAQModel
@{

    // FAQ - Frequently asked questions - Nuriye og Gülsüm Erdogan
   <html>
        <head>
        <title>FAQ - Frequently Asked Questions</title>
    
            </head >
    <body>
        <h1>FAQ - Frequently Asked Questions</h1>
        <p>Here are some <b>frequently asked questions</b> about the use of the RockExplorer app:</p>
        <ul>
            <li>
                <b>Q:</b> How do I use this app?
                <br>
                <b>A:</b> You simply open up the RockExplorer web application and choose which artifact you want to learn more about.
            </li>
            <li>
                <b>Q:</b> I can't play an audio. What do I do?
                <br>
                <b>A:</b> If restarting your device isn't helping, please contact IT Help. The phone number is provided at the bottom of the page.
            </li>
            <li>
                <b>Q:</b> Can I switch to another language for the audios?
                <br>
                <b>A:</b> Unfortunately, we do not have that option available at the moment.
            </li>
            <li>
                <b>Q:</b> Can I search for a specific artifact?
                <br>
                <b>A:</b> Yes, you can. Locate the search bar at the top of the page, enter the artifact name, and it will pop up in the results.
            </li>
        </ul>
    </body>

    </html>
}

