@page
@model RockExplorer_Reforged.Pages.ITSupportModel
@{

    // IT Support page - Gülsüm and Nuriye Erdogan
     <!DOCTYPE html>
    <html>

    <head>
        <title>IT Help</title>
       </head>



    <body>
        <h1>IT Help</h1>
        <p>Call us if you need help using our web application! Please check the FAQ before calling.</p>
        <div class="contact-info">
            <p><b>Our phone is: <a href="tel:+4512121212">+45 12 12 12 12</a></b></p>
        </div>
    </body>

    </html>
}
